{
    "colors": {
      "default": {
        "topBarBg": "#6e7d7f",
        "leftNav": {
          "bg": "rgb(240, 242, 245)",
          "text": "rgb(110, 125, 127)",
          "highlight": "white"
        }
      }
    }
  }
