.App-header {
  background-color: #6e7d7f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 64px;
  padding-left: 15px;
}

.app-window {
  height: calc(100% - 64px);
  width: 100%;
}